{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <!-- <div class="mb-3">
            <label for="id_topic" class="form-label">Topic Name</label>
            {{form.name}}
        </div>
        <div class="mb-3">
            <label for="id_content" class="form-label">Content</label>
            {{form.content}}
        </div> -->
        {{form|crispy}}
        <input type="submit" value="Submit">
        
    </form>

{% endblock %}
