{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 id="title">{{topic.name}}</h1>  
    <div id="create-post" onclick="location.href='{% url 'post-form' topic.id %}'">Create a post</div>
    <hr>
    {% for subtopic in subtopics %}
        <a class="text-decoration-none text-dark" href="{% url 'post' subtopic.id %}">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">@{{subtopic.user}}</div>
                <div class="card-body">
                <h5 class="card-title">{{subtopic.name}}</h5>
                <p class="card-text">{{subtopic.content|truncatechars:50}}</p>
                </div>
            </div>
        </a> 
    {% endfor %}


{% endblock %}

