/* body {
    background-color: rgb(3, 129, 129);
} */


#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

.container-topics {
    
}

.topics {
    /* border-style: solid;
    border-color: black; */
    width: 700px;
    margin-bottom: 2px;
    font-family: Arial;
    font-size: 30px;
    /* border-bottom: 1px solid black; */
}

.topics:hover {
    color: rgb(83, 165, 224);
    cursor: pointer;
}

#create-post {
    width: 200px;
    height: 37px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

#create-post:hover {
    cursor: pointer;
    width: 210px;
    color: rgb(83, 165, 224)
}

.post-update {
    text-decoration: none;
    color: black;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 5px;
    margin-right: 6px;
    text-align: center;
}

.post-update:hover {
    text-decoration: none;
    color: rgb(83, 165, 224);
    padding-left: 5px;
}

.post-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-post-content {
    margin-right: 50px;
}