/* body {
    background-color: rgb(3, 129, 129);
} */

.topics {
    /* border-style: solid;
    border-color: black; */
    width: 700px;
    margin-bottom: 2px;
    font-family: Arial;
    font-size: 30px;
}

.topics:hover {
    text-decoration: underline;
    color: rgb(83, 165, 224);
    font-size: 34px;
    cursor: pointer;
}

#create-post {
    width: 200px;
    height: 37px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}

#create-post:hover {
    cursor: pointer;
    width: 210px;
}

.post-update {
    text-decoration: none;
    background-color:#212529;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 5px;
    margin-right: 6px;
    text-align: center;
}

.post-update:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(91, 91, 91);
    padding-left: 5px;
}

.post-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-post-content {
    margin-right: 50px;
}